<div id="rotating-image">
	<li class = "rotating-item"><%= image_tag "burger.jpg"%><%= image_tag "chinese.jpg" %><%= image_tag "pizza.jpg"%><%= image_tag "ramen.jpg"%></li>
	<li class = "rotating-item"><%= image_tag "chinese.jpg" %><%= image_tag "pizza.jpg"%><%= image_tag "ramen.jpg"%><%= image_tag "roasted_chicken.jpg"%></li>
	<li class = "rotating-item"><%= image_tag "pizza.jpg"%><%= image_tag "ramen.jpg"%><%= image_tag "roasted_chicken.jpg"%><%= image_tag "salad.jpg"%></li>
	<li class = "rotating-item"><%= image_tag "ramen.jpg"%><%= image_tag "roasted_chicken.jpg"%><%= image_tag "salad.jpg"%><%= image_tag "taco.jpg"%></li>
	<li class = "rotating-item"><%= image_tag "roasted_chicken.jpg"%><%= image_tag "salad.jpg"%><%= image_tag "taco.jpg"%><%= image_tag "pasta.jpg"%></li>
	<li class = "rotating-item"><%= image_tag "salad.jpg"%><%= image_tag "taco.jpg"%><%= image_tag "pasta.jpg"%><%= image_tag "sushi.jpg"%></li>
	<li class = "rotating-item"><%= image_tag "taco.jpg"%><%= image_tag "pasta.jpg"%><%= image_tag "sushi.jpg"%><%= image_tag "tuna-sashimi.jpg"%></li>
	<li class = "rotating-item"><%= image_tag "pasta.jpg"%><%= image_tag "sushi.jpg"%><%= image_tag "tuna-sashimi.jpg"%><%= image_tag "padthai.jpg"%></li>

 </div>