

<div id ="demo">

</div>

<!-- setting latitude/longitude variables to be used in API call -->

<% latitude = Search.last.latitude %>
<% longitude = Search.last.longitude %>
<% response = HTTParty.get"https://api.locu.com/v1_0/venue/search/?location=#{latitude}%2C#{longitude}&has_menu=TRUE&radius=2000&category=restaurant&api_key=43a26b029716119b7d3247daacc3a29ed3151656" %>

<% response["objects"].sample(1).each do |place| %>
  <% @placeLat = place["lat"]
  @placeLong = place["long"] %>
  <% @restaurantName = place["name"].upcase %>
<% end %>

<div class = "search">

  <form class="form-inline">
    	<div class="form-group">
    		<label class="cuisine">Cuisine:</label>
    		<input type="text" class="form-control" id="exampleInputName2" placeholder="enter your dish">
    	</div>
  	<!-- <div class="form-group">
  		<label class="location">Location:</label>
  		<input type="email" class="form-control" id="location" placeholder=" 90021 or Santa Monica">
  	</div> -->
  	<!-- <button type="submit" class="fa fa-location-arrow"></button> -->
    	<div class="form-group">
    		<label class="price">Price: $</label>
    		<input type="text" class="form-control" id="price" placeholder="10.50">
    	</div>
    	<button id="submit" type="button" class="btn btn-default">GET FED UP</button>
    </form>

</div> <!-- closing .search div  -->

<div class= "empty"></div>
<div id="rotating-image">
	<li class = "rotating-item"><%= image_tag "burger.jpg"%></li>
	<li class = "rotating-item"><%= image_tag "chinese.jpg" %></li>
	<li class = "rotating-item"><%= image_tag "pizza.jpg"%></li>
	<li class = "rotating-item"><%= image_tag "ramen.jpg"%></li>
	<li class = "rotating-item"><%= image_tag "roasted_chicken.jpg"%></li>
	<li class = "rotating-item"><%= image_tag "salad.jpg"%></li>
	<li class = "rotating-item"><%= image_tag "taco.jpg"%></li>
 </div>

<!-- <div id="map"></div> -->

<!-- in-view JS to utilize ruby variables created to pull proper map -->

<script type="text/javascript">

  document.getElementById("submit").addEventListener('click', getLocation)

  var x = document.getElementById("demo");

// function getLocation runs on button click determining if browser geolocation
// is available

  function getLocation() {

      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
      } else {
          x.innerHTML = "Geolocation is not supported by this browser.";
      }
  }

// if geolocation is available, runs showPosition function

  function showPosition(position) {

// grabbing input values and location values to be used in ajax post for new search item

      var y = document.getElementById("price").value;
      var z = document.getElementById("exampleInputName2").value;
  		var longitude = position.coords.longitude
  		var latitude = position.coords.latitude

      var bounds = new google.maps.LatLngBounds();

  		    var myCenter = new google.maps.LatLng(latitude,longitude);
          var myCenter2 = new google.maps.LatLng(<%= @placeLat %>,<%= @placeLong %>)

  		    var marker;

  		    var mapProp = {
  		      center: myCenter,
  		      zoom:12,
  		      zoomControl:false,
  		      panControl:false,
  		      mapTypeId:google.maps.MapTypeId.ROAD
  		    };

  		    var map = new google.maps.Map(document.getElementById("rotating-image"),mapProp);

          var marker2=new google.maps.Marker({
          	position:myCenter,
          });

        	marker2.setMap(map);

  		    var marker = new google.maps.Marker({
  		      position:myCenter2

  		    });

  		    marker.setMap(map);

// extending the bounds of the map to show both current location and restaraunt

          bounds.extend(marker.position)
        	bounds.extend(marker2.position)

        	map.fitBounds(bounds)

  				var infowindow = new google.maps.InfoWindow({
  				      content: "ITS YOU"
  				    });

  				    infowindow.open(map,marker2);

          var infowindow = new google.maps.InfoWindow({
            	  content:"<%= @restaurantName %>"
            	});

            	infowindow.open(map,marker);

// finally calling ajax function to post data to new search object

          ajax(y,z,latitude,longitude);
  }

// ajax function to post input data to new search object to be accessible by rails

  function ajax(price,cuisine,lat,long){

    $.ajax({
      type: "POST",
      url: "/searches",
      dataType: 'json',
      data: { search: {cuisine: cuisine, price: price, latitude: lat, longitude: long}},
    });

}

</script>
