

<div id ="demo">
</div>

<div class = "search">
  <form class="form-inline">
    	<div class="form-group">
    		<label class="cuisine">Cuisine:</label>
    		<input type="text" class="form-control" id="exampleInputName2" placeholder="enter your dish">
    	</div>
  	<!-- <div class="form-group">
  		<label class="location">Location:</label>
  		<input type="email" class="form-control" id="location" placeholder=" 90021 or Santa Monica">
  	</div> -->
  	<!-- <button type="submit" class="fa fa-location-arrow"></button> -->
    	<div class="form-group">
    		<label class="price">Price: $</label>
    		<input type="text" class="form-control" id="price" placeholder="10.50">
    	</div>
    	<a href="/searches/show"><button id="submit" type="button" class="btn btn-default">GET FED UP</button></a>
    </form>

</div> <!-- closing .search div  -->

<div class= "empty"></div>
<div id="rotating-image">
	<li class = "rotating-item"><%= image_tag "burger.jpg"%></li>
	<li class = "rotating-item"><%= image_tag "chinese.jpg" %></li>
	<li class = "rotating-item"><%= image_tag "pizza.jpg"%></li>
	<li class = "rotating-item"><%= image_tag "ramen.jpg"%></li>
	<li class = "rotating-item"><%= image_tag "roasted_chicken.jpg"%></li>
	<li class = "rotating-item"><%= image_tag "salad.jpg"%></li>
	<li class = "rotating-item"><%= image_tag "taco.jpg"%></li>
 </div>

<!-- <div id="map"></div> -->
