<div class = "search">

<% search = Geocoder.search(request.remote_ip) %>
<!-- request.remote_ip -->
<% latitude = search[0].latitude %>
<% longitude = search[0].longitude %>
<% zipcode = search[0].postal_code %>
<% response = HTTParty.get"https://api.locu.com/v1_0/venue/search/?location=#{latitude}%2C#{longitude}&has_menu=TRUE&postal_code=#{zipcode}&category=restaurant&api_key=43a26b029716119b7d3247daacc3a29ed3151656" %>

<% response["objects"].sample(1).each do |place| %>
<% @placeLat = place["lat"]
 @placeLong = place["long"] %>
<% @restaurantName = place["name"].upcase %>
<% end %>

<div class = "search">

<%= form_for @search, :html => {:class => "form-inline"} do |f| %>
	<div class="form-group">
		  <%= f.label :cuisine, 'Cuisine' %>
		  <%= f.text_field :cuisine, class: "form-control", placeholder: "Food type" %>
	</div>
	<div class="form-group">
		  <%= f.label :location, 'Location' %>
		  <%= f.text_field :location, class: "form-control", placeholder: "City, Zipcode or Selection Your Current Location" %>
<!-- 		<button type="submit" class="fa fa-location-arrow"></button>
 -->	</div>
	<div class="form-group">
		  <%= f.label :price, 'Price:' %> <strong>$</strong>
		  <%= f.text_field :price, class: "form-control", placeholder: "10.50" %>
	</div>
	  <%= f.submit "GET FED UP", class: "btn btn-default" %>
	

<% end %>

</div> <!-- closing .search div  -->

<div class= "empty"></div> 
<div id="rotating-image">
	<li class = "rotating-item"><%= image_tag "burger.jpg"%></li>
	<li class = "rotating-item"><%= image_tag "chinese.jpg" %></li>
	<li class = "rotating-item"><%= image_tag "pizza.jpg"%></li>
	<li class = "rotating-item"><%= image_tag "ramen.jpg"%></li>
	<li class = "rotating-item"><%= image_tag "roasted_chicken.jpg"%></li>
	<li class = "rotating-item"><%= image_tag "salad.jpg"%></li>
	<li class = "rotating-item"><%= image_tag "taco.jpg"%></li>
 </div>

<!-- <div id="map"></div> -->

<!-- in-view JS to utilize ruby variables created to pull proper map -->

<script type="text/javascript">

	var myCenter = new google.maps.LatLng(<%= @placeLat %>,<%= @placeLong %>)
	var myCenter2 = new google.maps.LatLng(<%= latitude %>,<%= longitude %>)

	function initialize() {
  	var bounds = new google.maps.LatLngBounds();

  	var mapProperties = {
  		center:new google.maps.LatLng(<%= @placeLat %>,<%= @placeLong %>),
  		zoom: 12,
  		mapTypeId: google.maps.MapTypeId.ROADMAP
		};

	var map=new google.maps.Map(document.getElementById("map"), mapProperties);

	var marker=new google.maps.Marker({
  	position:myCenter,
  });

	marker.setMap(map);

	var marker2=new google.maps.Marker({
	  position:myCenter2,
	});

	marker2.setMap(map);

	bounds.extend(marker.position)
	bounds.extend(marker2.position)

	map.fitBounds(bounds)

	var infowindow = new google.maps.InfoWindow({
	  content:"YOU"
	});

	infowindow.open(map,marker2);

	var infowindow = new google.maps.InfoWindow({
	  content:"<%= @restaurantName %>"
	});

	infowindow.open(map,marker);
}
	google.maps.event.addDomListener(window, 'load', initialize);

</script>
