

<div id ="demo">
</div>

<span id="results">

  <!-- loop through the following 3 times in order to display 3 different local restaurants -->

 <% for i in 0..2 %>
  <% @possibleItems = [] %>

  <!-- Until there are possible items from particular restaurant lower than input count, look for another restaurant   -->

  <% until @possibleItems.length > 0 do %>
    <% @response["objects"].sample(1).each do |place| %>

      <% @places << place %>

      <!-- grabs random local restaurant menu near users location -->

    <% @menu = HTTParty.get"https://api.locu.com" + place["resource_uri"] + "?api_key=7a3583e12a33f7edc1b626c5fdbba42a266d11c4" %>

  <% end %>

  <% @menu["objects"][0]["menus"][0]["sections"].each do |section| %>

    <% section["subsections"][0]["contents"].each do |item| %>

    <!-- filters through API call to get menu items that match users search criteria -->

      <% if (item["price"].to_i < Search.last.price.to_i && item["price"].to_i > 0) %>
        <% @possibleItems << {name: item["name"], price: item["price"]} %>
      <% end %>

    <% end %>

  <% end %>

<% end %>

<!-- hidden spans holding data to be accessed via map.js -->

  <span class="restaurantName"><%= @places[i]["name"].upcase %></span>
  <span class="latitude"><%= @places[i]["lat"] %></span>
  <span class="longitude"><%= @places[i]["long"] %></span>
  <span class="postalCode"><%= @places[i]["locality"] %></span>
  <span class="phoneNumber"><%= @places[i]["phone"]%></span>
  <span class="address"><%= @places[i]["street_address"]%></span>


      <div class='more-items containter' style= "display:none">
        <div class = "col-md-4">

          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <%= @places[i]["name"] %> <span class="fa fa-plus-square"></span>
          </a>

          <!-- show additional items that match criteria if user chooses to do so -->

          <ul class="dropdown-menu"><% @possibleItems.each do |item| %>
           <li class = "menu_item"><a><%= item[:name] %> : $<%= item[:price] %></a></li>
          <% end %>
          </ul>
          </div>
        </div>
      </div>

      <!-- shoveling a randomItem that fits search criteria to be displayed -->

  <% @randomItem << @possibleItems.sample(1) %>
  <h2 class="menuItem" style="display:none">
    <%= @randomItem[i].first[:name] %> : $<%= @randomItem[i].first[:price] %>
  </h2>

<% end %>
</span>


<div class = "empty">
</div>

<div class = "search">
  <form class="form-inline">
     <div class="form-group">
        <input type="text" class="form-control" id="price" placeholder="NAME YO PRICE">

      <button id="submit" type="button" class="btn btn-default">GET FED UP</button>
      </div> <!-- close .form-group -->

    </form> <!-- close .form-horizontal -->
    <span class="error"></span>
</div> <!-- closing .search div  -->

<div class = "more_options">
    <button type="button" class = "btn btn-default" id = "more_items">MORE FOOD/DRINK OPTIONS</button><br>
</div>

<div id="map"></div>
