

<div id ="demo">
</div>

<span id="results">

 <!-- Until there are possible items from particular restaurant lower than input count, look for another restaurant   -->

 <% for i in 0..2 %>
  <% @possibleItems = [] %>
  <% until @possibleItems.length > 0 do %>
    <% @response["objects"].sample(1).each do |place| %>
    <%
      @placeLat << place["lat"]
      @placeLong << place["long"]
      @placeLocality << place["locality"]
      @restaurantName << place["name"].upcase
    %>
    <% @menu = HTTParty.get"https://api.locu.com" + place["resource_uri"] + "?api_key=43a26b029716119b7d3247daacc3a29ed3151656" %>

  <% end %>

  <% @menu["objects"][0]["menus"][0]["sections"].each do |section| %>

    <% section["subsections"][0]["contents"].each do |item| %>

      <% if (item["price"].to_i < Search.last.price.to_i && item["price"].to_i > 0) %>
        <% @possibleItems << {name: item["name"], price: item["price"]} %>
      <% end %>

    <% end %>

  <% end %>

<% end %>

<!-- hidden spans holding data to be accessed via map.js -->

  <span class="restaurantName"><%= @restaurantName[i] %></span>
  <span class="latitude"><%= @placeLat[i] %></span>
  <span class="longitude"><%= @placeLong[i] %></span>
  <span class="postalCode"><%= @placeLocality[i] %></span>


      <div class='more-items containter' style= "display:none">
        <div class = "col-md-4">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= @restaurantName[i] %> <span class="fa fa-plus-square-o"></span></a>
          <ul class="dropdown-menu"><% @possibleItems.each do |item| %>
           <li class = "menu_item"><a><%= item[:name] %> : $<%= item[:price] %></a></li>
          <% end %>
          </ul>
          </div>
        </div>
      </div>

  <% @randomItem << @possibleItems.sample(1) %>
  <h2 class="menuItem" style="display:none">
    <%= @randomItem[i].first[:name] %> : $<%= @randomItem[i].first[:price] %>
  </h2>

<% end %>
</span>


<div class = "empty">
</div>

<div class = "search">
  <form class="form-inline">
      <!-- <div class="form-group">
        <label class="cuisine">Cuisine:</label>
        <input type="text" class="form-control" id="exampleInputName2" placeholder="enter your dish">
      </div> -->
    <!-- <div class="form-group">
      <label class="location">Location:</label>
      <input type="email" class="form-control" id="location" placeholder=" 90021 or Santa Monica">
    </div> -->
    <!-- <button type="submit" class="fa fa-location-arrow"></button> -->
     <div class="form-group">
        <input type="text" class="form-control" id="price" placeholder="NAME YO PRICE $$">
    
      <button id="submit" type="button" class="btn btn-default">GET FED UP</button>
      </div> <!-- close .form-group -->

    </form> <!-- close .form-horizontal -->

</div> <!-- closing .search div  -->

<div class = "more_options">
    <button type="button" class = "btn btn-default" id = "more_items">MORE FOOD/DRINK OPTIONS</button><br>
</div>

<div id="map"></div>
